/* screen width of 1667 used for measurements for vw */

/* variables for entire file */

:root {
  --bg: linear-gradient(to bottom right, #d0d0d0, #ffffff);
  --accent: rgba(25, 109, 212, 0.7);
}

/* affects all html in the file */

html {
  font-family: 'Monaco', monospace;
  font-weight: 100;
  background: var(--bg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* affects the body block only */

body {
  width: 60vw;
  margin: auto;
}

body.stop-transitions * {
  transition: none !important;
}

/* all headings and paragraph */

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0px;
}

p, span {
  font-size: 1.44vw;
}

/* unordered lists */

ul {
  text-align: left;
  list-style-position: outside;
}

ul.center {
  text-align: center;
  list-style-position: inside;
}

/* container class for div */

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.8vw;
  padding-right: 1.5vw;
  padding-bottom: 1.2vw;
}

/* topnav class for div, used for navigation bar */

.topnav {
  /* Safari */
  position: -webkit-sticky;
  position: sticky;
  height: 70px;
  /* padding-top: .6vw; */
  /* margin-left: 200px;
  margin-right: 200px; */
  min-height: 60px;
  margin-bottom: 30px;
  /* border: 1px solid yellow; */
}

.topnav div.bounds {
  display: flex;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  /* border: 1px solid purple; */
}

.topnav div.pages {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  /* border: 2px solid orange; */
}

.topnav div.title {
  margin-top: auto;
  margin-bottom: auto;
  /* border: 2px solid orange; */
}

/* All types of links inside navigation bar */

.topnav a {
  float: right;
  /* text-align: center; */
  text-decoration: none;
  color: var(--accent);
  padding-top: .24vw;
  padding-bottom: .24vw;
  padding-left: .6vw;
  padding-right: .6vw;
  font-size: 28px;
  border-radius: 10px;
  transition: color 0.5s;
  transition: background-color 0.5s;
  transition: box-shadow 0.5s;
  transition: font-size 0.5s;
  /* border: 1px solid green; */
}

/* Only page buttons inside navigation bar (excludes name title) */

/* .topnav a.page {
  transform: translate(0, 25%);
  text-align: center;
} */

/* Only title button in navigation bar */

.topnav a.title {
  font-size: 42px !important;
}

/* Only title button while hovering */

.topnav a.title:hover {
  background: none;
}

/* Only page buttons while hovering */

.topnav a.page:hover {
  background-color: #ddd;
  font-size: 30px;
  box-shadow: .12vw .12vw 0.1em 0.05em #bababa;
}

/* Floating box class for div, used inside body for blocks of text */

.floatbox {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: white !important;
  background: var(--accent);
  padding: 1.2vw;
  border-radius: .6vw;
  box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 836px) {
  /* hide the hamburger */
  .hamburger {
    display: none;
  }
  /* show all the nav-buttons */
  .topnav a {
    display: block;
  }
}

/* if browser window is small (max-width) */

@media only screen and (max-width: 835px) {
  /* show everything with the hamburger class */
  .hamburger {
    display: block;
  }
  /* hide all the nav-buttons */
  .topnav a, a.page {
    display: none;
  }
  .topnav a.title {
    display: block !important;
  }
}