/* variables for entire file */

:root {
  --bg: linear-gradient(to bottom right, #d0d0d0, #ffffff);
  --accent: #196dd4b3;
  --body-width: 70vw;
}

/* affects all html in the file */

html {
  font-family: 'Monaco', monospace;
  font-weight: 100;
  background: var(--bg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* affects the body block only */

body {
  width: var(--body-width);
  min-width: 375px;
  margin: auto;
  padding-top: 16px;
  padding-left: max(16px, env(safe-area-inset-left));
  padding-right: max(16px, env(safe-area-inset-right));
  padding-bottom: env(safe-area-inset-bottom);
}

body.stop-transitions * {
  transition: none !important;
}

/* all headings and paragraph */

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0px;
}

p, span {
  font-size: 24px;
}

/* unordered lists */

ul {
  text-align: left;
  list-style-position: outside;
}

ul.center {
  text-align: center;
  list-style-position: inside;
}

/* container class for div */

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 25px;
  padding-bottom: 20px;
}

/* wrapper for topnav so it can stay fixed at the top of the page
    without content moving below it at the top */

.topnav-wrapper {
  height: 70px;
  min-width: 375px;
  margin-bottom: 20px;
  padding-top: env(safe-area-inset-top);
  /* border: 1px solid red; */
}

/* topnav class for div, used for navigation bar */

.topnav {
  position: fixed;
  height: 70px;
  min-width: 375px;
  width: var(--body-width);
  min-height: 60px;
  /* border: 1px solid yellow; */
}

.topnav div.bounds.scrolled {
  background-color: #d7d7d7;
  box-shadow: 2px 2px 0.1em 0.05em #bababa;
  border-radius: 10px;
}

.topnav div.bounds {
  display: flex;
  position: absolute;
  width: 100%;
  margin: auto;
  /* border: 1px solid purple; */
}

.topnav div.pages {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  /* border: 2px solid orange; */
}

.topnav div.title {
  margin-top: auto;
  margin-bottom: auto;
  /* border: 2px solid green; */
}

/* All types of links inside navigation bar */

.topnav a {
  float: right;
  text-decoration: none;
  color: var(--accent);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 28px;
  border-radius: 10px;
  transition: color 0.5s;
  transition: background-color 0.5s;
  transition: box-shadow 0.5s;
  transition: font-size 0.5s;
  /* border: 1px solid green; */
}

/* Only page buttons inside navigation bar (excludes name title) */

/* .topnav a.page {
} */

/* Only title button in navigation bar */

.topnav a.title {
  font-size: 42px !important;
}

/* Only title button while hovering */

.topnav a.title:hover {
  background: none;
}

/* Only page buttons while hovering */

.topnav a.page:hover {
  background-color: #ddd;
  font-size: 30px;
  box-shadow: 2px 2px 0.1em 0.05em #bababa;
}

/* Floating box class for div, used inside body for blocks of text */

.floatbox {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: white !important;
  background: var(--accent);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.2);
}